build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/Continuous.vcxproj
build/Continuous.vcxproj.filters
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/DartConfiguration.tcl
build/Experimental.vcxproj
build/Experimental.vcxproj.filters
build/level1.sln
build/level1.vcxproj
build/level1.vcxproj.filters
build/Nightly.vcxproj
build/Nightly.vcxproj.filters
build/NightlyMemoryCheck.vcxproj
build/NightlyMemoryCheck.vcxproj.filters
build/PACKAGE.vcxproj
build/PACKAGE.vcxproj.filters
build/RUN_TESTS.vcxproj
build/RUN_TESTS.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-7ced493fddd6d2accce5.json
build/.cmake/api/v1/reply/codemodel-v2-0f0bde7705104e9a935e.json
build/.cmake/api/v1/reply/index-2021-06-22T13-45-55-0740.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-46ebb230446e1aa6726d.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-46ebb230446e1aa6726d.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-46ebb230446e1aa6726d.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-46ebb230446e1aa6726d.json
build/.cmake/api/v1/reply/target-Continuous-Debug-f2857326d4560eafc7cd.json
build/.cmake/api/v1/reply/target-Continuous-MinSizeRel-f2857326d4560eafc7cd.json
build/.cmake/api/v1/reply/target-Continuous-Release-f2857326d4560eafc7cd.json
build/.cmake/api/v1/reply/target-Continuous-RelWithDebInfo-f2857326d4560eafc7cd.json
build/.cmake/api/v1/reply/target-Experimental-Debug-90c2de905fff5e9090f3.json
build/.cmake/api/v1/reply/target-Experimental-MinSizeRel-90c2de905fff5e9090f3.json
build/.cmake/api/v1/reply/target-Experimental-Release-90c2de905fff5e9090f3.json
build/.cmake/api/v1/reply/target-Experimental-RelWithDebInfo-90c2de905fff5e9090f3.json
build/.cmake/api/v1/reply/target-level1-Debug-cb42ed6b65c45dc6debf.json
build/.cmake/api/v1/reply/target-level1-MinSizeRel-ee8cd0b81b026b8fd68d.json
build/.cmake/api/v1/reply/target-level1-Release-e04c5df67b895f7bcbae.json
build/.cmake/api/v1/reply/target-level1-RelWithDebInfo-206ea138e63d101246a0.json
build/.cmake/api/v1/reply/target-Nightly-Debug-23d75595ff2efdcd72a0.json
build/.cmake/api/v1/reply/target-Nightly-MinSizeRel-23d75595ff2efdcd72a0.json
build/.cmake/api/v1/reply/target-Nightly-Release-23d75595ff2efdcd72a0.json
build/.cmake/api/v1/reply/target-Nightly-RelWithDebInfo-23d75595ff2efdcd72a0.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-Debug-88b888e54b1f2defa99e.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-MinSizeRel-88b888e54b1f2defa99e.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-Release-88b888e54b1f2defa99e.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-RelWithDebInfo-88b888e54b1f2defa99e.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-5d23bf9c80ccb4d371d9.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-5d23bf9c80ccb4d371d9.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-5d23bf9c80ccb4d371d9.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-5d23bf9c80ccb4d371d9.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.15.3/CMakeCCompiler.cmake
build/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.15.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.15.3/CMakeSystem.cmake
build/CMakeFiles/3.15.3/VCTargetsPath.txt
build/CMakeFiles/3.15.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.15.3/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.15.3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.15.3/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.15.3/CompilerIdC/Debug/vcpkg.applocal.log
build/CMakeFiles/3.15.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.15.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.15.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.15.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.15.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.write.1u.tlog
build/CMakeFiles/3.15.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.15.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.15.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.15.3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.15.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.15.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.15.3/CompilerIdCXX/Debug/vcpkg.applocal.log
build/CMakeFiles/3.15.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.15.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.15.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.15.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.15.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.write.1u.tlog
build/CMakeFiles/3.15.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.15.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.15.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.15.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/a4bda9801dad992e08d3db02f6321819/Continuous.rule
build/CMakeFiles/a4bda9801dad992e08d3db02f6321819/Experimental.rule
build/CMakeFiles/a4bda9801dad992e08d3db02f6321819/generate.stamp.rule
build/CMakeFiles/a4bda9801dad992e08d3db02f6321819/Nightly.rule
build/CMakeFiles/a4bda9801dad992e08d3db02f6321819/NightlyMemoryCheck.rule
build/CMakeFiles/a4bda9801dad992e08d3db02f6321819/PACKAGE_force.rule
build/CMakeFiles/a4bda9801dad992e08d3db02f6321819/RUN_TESTS_force.rule
build/Release/level1.exe
build/Testing/Temporary/LastTest.log
build/level1.dir/Release/vcpkg.applocal.log
build/level1.dir/Release/video_capture.obj
build/level1.dir/Release/level1.tlog/CL.command.1.tlog
build/level1.dir/Release/level1.tlog/CL.read.1.tlog
build/level1.dir/Release/level1.tlog/CL.write.1.tlog
build/level1.dir/Release/level1.tlog/custombuild.command.1.tlog
build/level1.dir/Release/level1.tlog/custombuild.read.1.tlog
build/level1.dir/Release/level1.tlog/custombuild.write.1.tlog
build/level1.dir/Release/level1.tlog/level1.lastbuildstate
build/level1.dir/Release/level1.tlog/level1.write.1u.tlog
build/level1.dir/Release/level1.tlog/link.command.1.tlog
build/level1.dir/Release/level1.tlog/link.read.1.tlog
build/level1.dir/Release/level1.tlog/link.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
